.footer
  .footer__box
    .footer__box__logo
      =image_tag("aztasu-logo.png")
    .footer__box__menu
      .footer__box__menu__works
        HOME
      .footer__box__menu__works
        事業紹介
      .footer__box__menu__works
        制作までの流れ
      .footer__box__menu__works
        会社概要
      .footer__box__menu__works
        お問い合わせ

.top-content
  =image_tag("aztasu-top.png")
  .top-content__mid
    .top-content__mid__webdesign
      =image_tag("index-img001.png")
    .top-content__mid__display
      =image_tag("index-img002.png")
    .top-content__mid__service
      =image_tag("index-img003.png")

.btm-content
  .btm-content__left
    .btm-content__left__news
      .btm-content__left__news__left
        NEWS
      .btm-content__left__news__right
        過去のお知らせ一覧
    .btm-content__left__menu
      .btm-content__left__menu__left
        2018/5/13
      .btm-content__left__menu__right
        制作実績追加のご案内：税理士グループ「しんり」

    .btm-content__left__menu
      .btm-content__left__menu__left
        2018/4/25
      .btm-content__left__menu__right
        【IT導入補助金】申請ITツールのご案内

    .btm-content__left__menu
      .btm-content__left__menu__left
        2018/2/19
      .btm-content__left__menu__right
        制作実績追加のご案内：アルコール パラダイス

    .btm-content__left__works
      .btm-content__left__works__left
        制作実績
      .btm-content__left__works__right
        制作実績一覧を見る

    .btm-content__left__box1
      .btm-content__left__box1__a
        =image_tag("shinri.png")
        .btm-content__left__box1__a__text1
          税理士グループ「しんり」 様
        .btm-content__left__box1__a__text2
          税理士・会計士・会社経理担当者の皆さまの
          縁の下の力持ち税理士グループ「しんり」の
          企業サイト。

      .btm-content__left__box1__a
        =image_tag("alcohol.png")
        .btm-content__left__box1__a__text1
          アルコール パラダイス｜お酒を愛する
          人へ向けたお酒情報サイト
        .btm-content__left__box1__a__text2
          %br
          -# %br
          お酒を飲む人にとってのお酒情報サイト。ビ
          ール・日本酒・ワインなど醸造酒から、焼
          酎・ウイスキー・スピリッツなどの蒸留酒、
          酎ハイ・ハイボール・梅酒など身近なお酒、
          そして、各地で開催されるお酒イベントまで
          幅広く、初心者から酒豪まで楽しめるお酒情
          報サイト。

      .btm-content__left__box1__a
        =image_tag("sparkling.png")
        .btm-content__left__box1__a__text1
          SPARKLING GARDEN [スパークリン
          グ ガーデン] 様
        .btm-content__left__box1__a__text2
          %br
          JR恵比寿駅東口すぐ、恵比寿ガーデンプレイ
          スから徒歩1分。厳選スパークリングワインや
          カクテルを、専属シェフが腕をふるう創作イ
          タリアンのSPARKLING GARDEN [スパーク
          リング ガーデン]オフィシャルサイト

    .btm-content__left__box2
      .btm-content__left__box2__a
        =image_tag("sun.png")
        .btm-content__left__box2__a__text1
          太陽のドレッシング 様
        .btm-content__left__box2__a__text2
          家庭料理がこの一本でプロの味になる魔法の
          万能調味料「太陽のドレッシング」のオフィ
          シャルサイト

      .btm-content__left__box2__a
        =image_tag("diet.png")
        .btm-content__left__box2__a__text1
          REZAEV[リザエヴ] 様
        .btm-content__left__box2__a__text2
          ダイエットのプロ、アスリートトレーナーが
          教えるパーソナルトレーニングジムのオフィ
          シャルサイト

  .btm-content__right
    .btm-content__right__form
      =image_tag("form.png",width:"300",height:"35")
    .btm-content__right__title
      .btm-content__right__title__name
        制作実績
    .btm-content__right__menu
      REZAEV[リザエヴ]様
      .btm-content__right__menu__img
        =image_tag("mini2.png")
    .btm-content__right__menu
      アルコールパラダイス
      .btm-content__right__menu__img
        =image_tag("mini1.png")
    .btm-content__right__menu
      太陽のドレッシング様
      .btm-content__right__menu__img
        =image_tag("mini3.png")
    .btm-content__right__photo
      =image_tag("mini4.png")
      =image_tag("mini5.png")
      =image_tag("mini6.png")

.explain
  .explain__about
    ABOUT
    .explain__about__text
      株式会社アズタスは、Webサイトの企画制作という『モノづくり』を
      通じて「御社のユーザーと御社自身」に起きる、素晴らしい出来事を
      プレゼントしています。
  .explain__about
    PICK UP
    .explain__about__img1
      =image_tag("mini1.png")
      =image_tag("mini2.png")
      =image_tag("mini3.png")
      =image_tag("mini7.png")
      =image_tag("mini8.png")
  .explain__about
    制作実績
    .explain__about__box
      .explain__about__box__img
        =image_tag("mini8.png")
      .explain__about__box__text
        税理士グループ「しんり」 様

    .explain__about__box
      .explain__about__box__img
        =image_tag("mini7.png")
      .explain__about__box__text  
        アルコール パラダイス｜お酒を愛する人へ向けたお酒情報サイト

    .explain__about__box
      .explain__about__box__img
        =image_tag("mini3.png")
      .explain__about__box__text
        太陽のドレッシング 様

.footer


