.footer
  .footer__logo
    =image_tag("aztasu-logo.png")
  .footer__menu
    .footer__menu__home
      HOME
    .footer__menu__works
      事業紹介
    .footer__menu__flow
      制作までの流れ
    .footer__menu__company
      会社概要
    .footer__menu__contact
      お問い合わせ

.top-content
  =image_tag("aztasu-top.png")

.mid-content
  .small-content__webdesign
    =image_tag("index-img001.png")
  .small-content__display
    =image_tag("index-img002.png")
  .small-content__service
    =image_tag("index-img003.png")

.btm-content
  .btm-content__left
    .btm-content__left__news
      .btm-content__left__news__left
        NEWS
      .btm-content__left__news__right
        過去のお知らせ一覧
    .btm-content__left__menu1
    .btm-content__left__menu2
    .btm-content__left__menu3

    .btm-content__left__works
      .btm-content__left__works__left
        制作実績
      .btm-content__left__works__right
        制作実績一覧を見る

    .btm-content__left__box1
      .btm-content__left__box1__a
        =image_tag("shinri.png")
        .btm-content__left__box1__a__text1
          税理士グループ「しんり」 様
        .btm-content__left__box1__a__text2
          税理士・会計士・会社経理担当者の皆さまの
          %br 縁の下の力持ち税理士グループ「しんり」の
          %br 企業サイト。

      .btm-content__left__box1__a
        =image_tag("alcohol.png")
        .btm-content__left__box1__a__text1
          アルコール パラダイス｜お酒を愛する
          %br 人へ向けたお酒情報サイト
        .btm-content__left__box1__a__text2
          お酒を飲む人にとってのお酒情報サイト。ビ
          %br ール・日本酒・ワインなど醸造酒から、焼
          %br 酎・ウイスキー・スピリッツなどの蒸留酒、
          %br 酎ハイ・ハイボール・梅酒など身近なお酒、
          %br そして、各地で開催されるお酒イベントまで
          %br 幅広く、初心者から酒豪まで楽しめるお酒情
          %br 報サイト。

      .btm-content__left__box1__a
        .btm-content__left__box1__a__text1
          SPARKLING GARDEN [スパークリン
          %br グ ガーデン] 様
        .btm-content__left__box1__a__text2
          JR恵比寿駅東口すぐ、恵比寿ガーデンプレイ
          %br スから徒歩1分。厳選スパークリングワインや
          %br カクテルを、専属シェフが腕をふるう創作イ
          %br タリアンのSPARKLING GARDEN [スパーク
          %br リング ガーデン]オフィシャルサイト

    .btm-content__left__box2
      .btm-content__left__box2__a
        .btm-content__left__box2__a__text1
          太陽のドレッシング 様
        .btm-content__left__box2__a__text2
          家庭料理がこの一本でプロの味になる魔法の
          %br 万能調味料「太陽のドレッシング」のオフィ
          %br シャルサイト

      .btm-content__left__box2__a
        .btm-content__left__box2__a__text1
          REZAEV[リザエヴ] 様
        .btm-content__left__box2__a__text2
          ダイエットのプロ、アスリートトレーナーが
          %br 教えるパーソナルトレーニングジムのオフィ
          %br シャルサイト

  .btm-content__right
    .btm-content__right__form
      -# = input.submit
    .btm-content__right__menu
      REZAEV[リザエヴ]様
    .btm-content__right__menu
      アルコールパラダイス | お酒を愛する人へ向けたお酒情報サイト
    .btm-content__right__menu
      太陽のドレッシング様
    .btm-content__right__photo

.explain
  .explain__about
    ABOUT
    .explain__about__text
      株式会社アズタスは、Webサイトの企画制作という『モノづくり』を
      %br 
      通じて「御社のユーザーと御社自身」に起きる、素晴らしい出来事を
      %br 
      プレゼントしています。
  .explain__pick
  .explain__works


